.clearMe {display: block; height: 0; clear: both; font-size: 0;}
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */

html, body {
    height: 100%;
}
body {
    font-family: "brandon-grotesque",sans-serif;
    letter-spacing: 0.5;
    overflow-y: hidden;
    background: #88AFCB; /* blend with south pole */
}

#map-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#north-pole {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    background: #2F5571;
}
#south-pole {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background: #88AFCB;
}

#map {
    position: relative;
    z-index:5;
    left: 40%;
    width: 60%;
    height: 100%;
    background: url(../img/map.png) repeat-x 75% 50%; 
}
#vortex {
    position: relative;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background: rgba(255, 255, 255, 0.5);
    color: #3C5160;

}

#vortex .center {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 30px;
    position: relative;
    top: 75px;
    width: 50px;
    margin: 0 auto;
    text-align: center;
}
#vortex .center .small {
    font-size: 0.7em;
}
#vortex .circle {
    font-size: 0.95em;
    text-transform: uppercase;
}

#act {
    position: absolute;
    left: calc(70% - 125px);
    top: 70%;
    width: 250px;
    z-index: 9001; /* what 9000?! there's no way it can be that high. can it? */
}

.cta {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    min-height: 75px;
    z-index: 6;
    padding: 20px;
    box-sizing: border-box;
    background: #35BEB3;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.cta h2 {
    padding: 0;
    margin: 0 auto;
}
.overlay .cta {
    position: relative;
    width: 100%;
    left: 0;
    min-height: 0;
    padding: 10px 20px;
    font-size: 1em;
}

#content {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    min-width: 250px;
    box-sizing: border-box;
    background: #165B92;
    text-align: left;
    padding: 70px 50px;
    color: white;
}
h1 {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0 0 30px 0;
}
h2 {
    text-transform: uppercase;
    font-size: 1.5em;
}
hr {
    border: 0px;
    margin: 30px 0px 10px 0px;
}
p {
    margin: 25px 0px;
    font-size: 1em;
    line-height: 1.5em;
}
p a {
}
p.small {
    font-size: 1em;
}

.phoneForm {
    margin: 25px 0px 35px 0px;
    text-align: center;
}

form input {
    display: inline-block;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
    font-size: 0.95em;
    font-weight: bold;
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    width: 250px;
    border: 1px solid gray;
    text-align: center;
    text-transform: uppercase;
}
form button {
    display: inline-block;
    margin: 10px auto;

    font-size: 1em;
    font-weight: bold;
    padding: 8px 25px;
    box-sizing: border-box;
    
    background: #cf4d40; /* #df7065; */
    box-shadow: 2px 2px white;

    color: white;
    border: 0 none;
    cursor: pointer;
    text-transform: uppercase;
}
form button:hover {
    box-shadow: none;
}
form button:active {
    box-shadow: 2px 2px black inset;
}

.button-row {
    width: 100%;
    position: absolute;
    bottom: 0;
}
a.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.0em;
    text-decoration: none;
    border: 0;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 32%;
    box-sizing: border-box;
    color: white;
}
a.btn:hover {
    opacity: 1;
}
a.btn.facebook {
    background-color: #2DBAAF;
}
a.btn.twitter {
    background-color: #0F65A3;
}
a.btn.email {
    background-color: #094679;
}
a.btn.close {
    display: block;
    color: gray;
    margin-left: 92%;
    width: 25px;
}

.overlay {
    position: absolute;
    left: 40%;
    top: 0;
    width: 60%;
    height: 100%;
    background: white;
    display: table;
    text-align: center;
    z-index: 9002; /* it... can't... be... */
    -ms-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    display: none;
}
.overlay.visible {
    opacity: 1;
}
.overlay .inner p {
    margin: 20px 75px;
    text-align: left;
}
.overlay .inner p.gray {
    color: gray;
    font-size: 1em;
}
