---
twitter_text: Call the Senate and Stop the TPP http://calloffthetpp.com/
email_subject: Call Off the TPP!
email_body: Hey, check out this site and call the Senate today! http://calloffthetpp.com/
---
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Public Citizen">
    <meta property="og:title" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.calloffthetpp.com/"/>
    <meta property="og:image" content="https://www.calloffthetpp.com/images/share.png"/>
    <meta property="og:site_name" content="Call Off TPP"/>
    <meta property="fb:admins" content="701690" />
    <meta property="og:description" content=""/>
    <link href="css/site.css?t={{  site.time | date: '%s' }}" rel="stylesheet">
    <link href="css/mobile.css?t={{  site.time | date: '%s' }}" rel="stylesheet">

    <title>Call Off the TPP!</title>
    
    <script src="//use.typekit.net/ywi8ufn.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/csswarp.0.7.min.js"></script>
    <script type="text/javascript" src="js/main.js?t={{  site.time | date: '%s' }}"></script>

        <script type="text/javascript">
            try { Typekit.load({ active: vortexCircleText }); } catch(e) {};
     </script>

    {% include analytics.html %}
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>
<body>  
    <div id="content">
            {% include content.html %}
    </div>

    <div id="map-wrapper">
        <div id="north-pole"></div>
        <div id="south-pole"></div>
        <div id="map">
            <div id="vortex">
                <h3 class="center">Stop <span class="small">the</span> TPP!</h3>
                <h4 class="circle">
                    Middle Class Jobs
                    Internet Freedom
                    Affordable Medicine
                </h4>    
            </div>
        </div>
    </div>

    <div class="cta">
        <h2>Act Now, Call The Senate</h2>
    </div>

    <div id="act">
        <form id="phoneForm" class="clear phoneForm">
            <input id="phone" name="phone" placeholder="Enter Your Phone #"/>
            <button id="call_button" type="submit">Call Me</button>
        </form>

        <!--{% include disclosure.html %}-->
    </div>


    <div class="overlay">
            <div class="inner">
                <a class="btn close">&times;</a>
                {% include call_modal_top.html %}

                <h2>Call Script</h2>
                {% include call_script.html %}

                <div class="button-row">
                    <a class="btn facebook" target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.calloffthetpp.com">Facebook</a>
                    <a class="btn twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{page.twitter_text | uri_escape}}">Twitter</a>
                    <a class="btn email" target="_blank" href="mailto:?Subject={{page.email_subject | uri_escape}}&Body={{page.email_body | uri_escape}}">Email</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
