<p>
I am relying on the senator to oppose Fast Track.  The senator needs to choose sides on this one: If you're for middle class jobs, then you must oppose Fast Track.
</p>

<p>
Fast Tracking the Trans-Pacific Partnership would be an unprecedented attack on America’s middle class.  It would make it easier for corporations to offshore our jobs and push down our wages by pitting us against foreign workers who make less than a dollar per hour!
</p>

<p>
<em>Will you commit to me that you will oppose Fast Track?</em>
</p>
