<h1>Call Off the TPP!</h1>
<p>
<strong>Tell The Senate: Oppose &ldquo;Fast Track&ldquo; and stop the TPP attack on our jobs, Internet freedom and affordable medicine.</strong>
</p>

<p>
In one fell swoop, the Trans-Pacific Partnership would offshore millions more American middle class jobs, push down our wages, flood us with unsafe food imports, roll back financial regulation, squelch Internet freedom and jack up drug prices. <em>It’s an unprecedented menace disguised as a &ldquo;trade&rdquo; agreement. And, we can stop it.</em>
</p>

<p>
<strong>That is, unless Congress enacts the Nixon-era Fast Track procedure that would railroad TPP through Congress.</strong>  Without Fast Track, TPP is DOA. 
</p>

<p>
Let's drown out the corporate gang trying to pull a fast one with Fast Track and get these last critical Senators to oppose.
</p>